@import '../../assets/sass.variables.scss';


.about-name {
    position: relative;
    width: 100%;
    height: 90vh;
    margin-bottom: 13vh;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-name__image {
        display: flex;
        align-items: center;

        margin: 0 2.9em 0 0;

        .about__image {
            width: 11.8em;
            aspect-ratio: 1/1.4;
            border-radius: 1.1em;
            box-shadow: 0.3px 2px 2.3px rgba(113, 107, 178, 0.152);
        }
    } 
    .about-name__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 23rem;
        position: relative;
        margin-top: 5vh;
        .about-name__name {
            font-family: 'Public Sans';
            color: rgb(6, 10, 36);
            text-align: center;
            width: 100%;
            font-size: clamp(1.4rem, 3.1vw, 180%);
            font-weight: 200;
            letter-spacing: 0.05rem;
            text-shadow: 0.3px 0.8px 1.8px rgba(0, 0, 0, 0.205);
            box-sizing: content-box;

            b {
                font-weight: 400;
                font-size: 119%;
                letter-spacing: 0.1rem;
            }
        }

        .about-name__about {
            color: rgba(24, 24, 24, 0.895);
            width: 100%;
            letter-spacing: .17rem;
            line-height: 1em;
            word-wrap: break-word;
            text-align: center;
            margin: 0.03em 0 0 0;
            font-size: clamp(1.15rem, 2.4vw, 170%);
            font-weight: 300;
            font-family: sans-serif;
            text-shadow: 0.7px 0.8px 1.3px rgba(91, 91, 91, 0.092);

            b {
                font-weight: 300;
                text-shadow: 0.3px 0.8px 1.3px rgba(91, 91, 91, 0.107);
            }

        }


        .web-dev-text {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 1.3rem;
            margin-top: 0.7em;
            font-family: sans-serif;
            white-space: nowrap;

            b {
                text-transform: uppercase;
                position: relative;
                font-size: clamp(0.9rem, 2vw, 138%);
                letter-spacing: 0.19em;
                color: rgb(0, 0, 0);
                font-weight: 300;
                text-shadow: 0.38px 0.7px 1.8px rgba(52, 52, 52, 0.038);
            }
        }

    }

    @media (max-width:$responsivePageS) {
        .about-name__image{
            margin: 0 0.17em 0 0;
        }
        .about-name__text {
            margin-top: 1.8rem;
            width: 20rem;

            .about-name__about {
                line-height: 1.38rem;
            }
        }

        .about-name__image {
            width: 11.8rem;
        }
    }

}