
.webdev-overlay{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    bottom: 0;
}

.techstack-popover{
    top: -8%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 10% 1.03em 10%;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 100;
    padding-top: 0;
    .close-btn-container{
        position: absolute;
        right: 1vw;
        top: 4%;
        .close-btn{
            font-size: 1.2em;
            padding: 0.2rem 0.43rem 0.19rem 0.43rem;
            background: none;
            border: 1.3px solid rgba(90, 90, 90, 0.195);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
            border-radius: 49%;
            color: rgba(51, 51, 51, 0.855);
            transition: 0.1s linear;
            &:active{
                background: rgba(191, 191, 191, 0.091);
            }
        }
    }
    .about-tech__stack{
        width: 90%;
        height: 70%;
    }
}