@import '../../assets/sass.variables.scss';


.about-tech__stack {
        margin-top: 0.3vh;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: -10;
        height: fit-content;

        .tech-stack {
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 10% 0%;
                border-radius: 0.3rem;

                .techlogo-container {
                        display: flex;
                        justify-content: center;
                        position: relative;

                        &:hover {
                                .tech-logo {
                                        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.135);
                                }

                                .tech-name {

                                        p {
                                                scale: 1.1;
                                        }
                                }
                        }
                }

        }

        @media (max-width: $responsivePageS) {
                width: 70%;
        }

        @media (min-width: 70rem) {
                .tech-stack {
                        gap: 3%;
                }
        }


}