
.email-succes{
    font-size: 2em;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh 0 13vh 0 ;
    width: 100%;
    height: 70vh;

    .contact__title {
        font-size: 1.5rem;
        font-weight: 200;
        text-shadow: 0.3px 0.8px 2px rgba(0, 0, 0, 0.136);
        letter-spacing: 0.03rem;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .contact__form {
        display: flex;
        flex-direction: column;
        width: 19rem;
        height: 100%;
        align-items: center;
        z-index: 1;
        box-sizing: content-box;
        position: relative;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        .contact__form__email {
            height: 2.5rem;
            width: 73%;
            margin-top: 1.3rem;
            border-radius: 8px;
            padding: 0.7% 4%;
            letter-spacing: 0.08rem;
            font-size: 1.1rem;
            border: rgba(0, 0, 0, 0.645) 0.1px solid;
        }
        
        .contact__form__text {
            resize: none;
            margin-top: 1.18rem;
            height: 13rem;
            font-family: sans-serif;
            width: 100%;
            letter-spacing: 0.08rem;
            border-radius: 11px;
            padding: 2.9% 4.8% 1.3% 4.8%;
            font-size: 1rem;
            border: rgba(0, 0, 0, 0.645) 0.1px solid;

        }

        .contact__form__btn {
            border-radius: 10px;
            margin-top: 0.18rem;
            font-size: 1.7rem;
            padding: 0.203em 0.28em 0.203em 0.28em ;
            width: 100%;
            background: none;
            border: rgba(0, 0, 0, 0.645) 0.1px solid;
            letter-spacing: .08rem;
            transition: ease-out .9s;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                box-shadow: 0 2.8px 4px rgba(116, 105, 234, 0.113);
                scale: 1.01;
            }
        }
        .contact__error-message{
            position: absolute;
            top: -0.1em;
            letter-spacing: 0.13rem;
            color: red  ;
            font-size: 1.1rem;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.039);
            text-transform: lowercase;
        }
        .success{
            color: rgb(10, 174, 10);
            font-size: 1.38rem;
            top: -0.28em;
            text-shadow: 0px 1.3px 1.8px rgba(0, 128, 0, 0.267) ;
        }
    }

    .contact__methods {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.1rem;

        .contact__method {
            height: 2.3rem;
            width: 2.3rem;
            
            .contact__method__img {
                height: 100%;
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                transition: .3s linear;
                
                &:hover {
                    box-shadow: 0 1.9px 8px rgba(156, 98, 255, 0.181);

                }
            }
        }
    }
}