@import '../../assets/sass.variables.scss';


.tech-logo {
    height: 3em;
    width: 3em;
    background: white;
    border: 1px solid rgba(159, 159, 159, 0.053);
    padding: 0.78em ;
    border-radius: 30%;
    transition: ease-in-out .4s;
    .tech-logo__img {
        width: 100%;
        height: 100%;
    }
}


@media (min-width:$responsivePageS) and (max-width:($responsivePageM + 20rem)){
    .tech-logo{
        height: 2.3em;
        width: 2.3em;
    }
}

@media (max-width:$responsivePageS) {
    .tech-logo{
        height: 1.9em;
        width: 1.9em;
    }
}

@media (max-width: ($responsivePageS - 8rem)) {
    .tech-logo{
        height: 1.3em;
        width: 1.3em;
    }
}
