@import '../../assets/sass.variables.scss';


.close-btn-container{
    position: absolute;
    height: fit-content;
    width: fit-content;
    .close-btn{
        font-size: clamp(0.3rem,0.4vw,0.8rem);
        padding: 0.3em 0.4em 0.3em 0.4em;
        background: none;
        border: 2px solid rgba(90, 90, 90, 0.197);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.136);
        border-radius: 49%;
        color: rgba(51, 51, 51, 0.855);
        transition: 0.1s linear;
        &:active{
            background: rgba(191, 191, 191, 0.199);
            scale: 0.8;
        }
    }
}
