


.home-page {
    position: relative;
    width: 100%;

    .about {
        height: 100%;
        width: 100%;
        position: relative;
        // margin-bottom: 8rem;
    }

    // .contact-container {
    //     height: 90vh;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

}