.home-page {
    position: relative;
    width: 100%;

    .about {
        margin: 1% 0 0 0;
        position: relative;

        .about-name {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .about-tech {
            position: relative;
        }
    }
}
