.nav{
    position: fixed;
    z-index: 10;
    width: 100vw;
    .nav-categories{
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: clamp(1rem,2vw,150%);
        font-weight: 100;
        font-family: system-ui ;
        letter-spacing: .13rem;
        li{
            text-align: center;
            width: 20%;
            cursor: pointer;
            transition: .1s linear;
            text-shadow: 0.3px 0.8px 1.3px rgba(113, 107, 178, 0.105);
            &:hover{
                color: rgb(121, 121, 121);
            }
        }
    }
}