.nav{
    position: fixed;
    z-index: 10;
    width: 100vw;
    .nav-categories{
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: clamp(1rem,2vw,140%);
        font-weight: 100;
        font-family: sans-serif ;
        letter-spacing: .13rem;
        li{
            text-align: center;
            width: 30%;
            cursor: pointer;
            transition: .1s linear;
            text-shadow: 0px 1.3px 1.8px rgba(0, 0, 0, 0.149);
            &:hover{
                color: rgb(121, 121, 121);
            }
        }
    }
}